<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <!--<appender name="MessageSendingAppender" class="org.lightadmin.logging.configurer.logback.MessageSendingAppender"/>-->

    <!--<logger name="javax.activation" level="WARN"/>-->
    <!--<logger name="org.lightadmin" level="INFO"/>-->
    <!--<logger name="org.springframework" level="INFO"/>-->
    <!--<logger name="org.thymeleaf" level="INFO"/>-->

    <!--<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">-->
        <!--<resetJUL>true</resetJUL>-->
    <!--</contextListener>-->

    <!--<root level="WARN">-->
        <!--<appender-ref ref="MessageSendingAppender"/>-->
    <!--</root>-->

</configuration>
